<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/superman.jpeg" />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>SuperMan Steve</title>
</head>
<header>
    <div class="ui menu">
        <div class="header item">
            <a href="/">Pug Home</a>
        </div>
        {{!--
        <a class="active item">Link</a>
        <a class="item">Link</a>
        <div class="ui dropdown item" tabindex="0">
            Dropdown
            <i class="dropdown icon"></i>
            <div class="menu transition hidden" tabindex="-1">
                <div class="item">Action</div>
                <div class="item">Another Action</div>
                <div class="item">Something else here</div>
                <div class="divider"></div>
                <div class="item">Separated Link</div>
                <div class="divider"></div>
                <div class="item">One more separated link</div>
            </div>
        </div> --}}
        <div class="right menu">
            <div class="item">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                    <button class="ui button">Submit</button>
                </div>
            </div>
            {{!--
            <a class="item">Link</a> --}}
        </div>
    </div>
    <img src="http://www.f-covers.com/cover/chinese-pug-facebook-cover-timeline-banner-for-fb.jpg" alt="Pug Banner">
</header>

<body>