{{> header}}
<div class='ui container'>
    <form class='ui form' action="/gallery/{{picture.picture_id}}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="field">
            <label>Author:</label>
            <input type="text" name="author" value="{{picture.author}}">
        </div>
        <div class="field">
            <label>Link:</label>
            <input type="text" name="url" value="{{picture.url}}">
        </div>
        <div class="field">
            <label>Description:</label>
            <input type="text" name="description" value="{{picture.description}}">
        </div>
        <button class="ui button">Add Picture</button>
    </form>

</div>
{{> footer}}